* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h4 {
  font-size: 20px;
  color: #222;
}


p {
  font-size: 10px;
  color: #465b52;
   margin: 15px 0 20px 0px;
}


#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 90px;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  
  
}

.section-p1 {
  padding: 40px 80px;
}





































































